<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Patty Started Successfully</title>
  
  
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="/static/css/style.css">

  
</head>

<body>
<div class="congrats">
	<h1>Congratulations!</h1>
</div>
<img src="https://bit.ly/20qKWK0" style="display:none">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js'></script>

  

    <script  src="/static/js/index.js"></script>

    <div class="container">
        <a href="https://github.com/ah8ad3/patty" class="button blue">Patty</a>
    </div>


</body>

</html>
