extends layout
block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Login

                form(method='POST' action='/login')
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='email' name='email')

                    div.form-group
                        label(for='password') Password:
                        input#password.form-control(type='password', placeholder='password' name='password')



                    button.btn.btn-primary(type='submit') Login